<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div id="app">

    <ul>
      <li v-for="(value, key, index) in info">{{value}} - {{key}} - {{index}}</li>
    </ul>

    <ul>
      <li v-for="item in message">{{item}}</li>
    </ul>

    <ul>
      <li v-for="item in 10">{{item}}</li>
    </ul>
  </div>

  <script src="../js/vue.js"></script>
  <script>
    const app = Vue.createApp({
      data() {
        return {
          message: "Hello James",
          movies: [],
          info: {name: "James", age: 38, height: 2.03}
        }
      },
    })
    app.mount("#app")
  </script>
</body>
</html>