table {
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  padding: 8px 16px;
  border: 1px solid #aaa;
  text-align: left;
}

.active {
  background-color: skyblue;
}

