<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div id="app">
    <ul>
      <!-- <li v-for="m in movies">{{m}}</li> -->
      <li v-for="(m, index) in movies">{{index}}-{{m}}</li>
    </ul>
  </div>

  <script src="../js/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        movies: ['海贼王', '吞噬星空', '一念永恒', '斗罗大陆', '斗破苍穹']
      }
    })
  </script>


</body>

</html>